.wrapper {
    width: 1250px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 10px;

}

.personsCard {
    height: 300px;
    width: 200px;
    border: 1px solid;
    border-radius: 8px;
    background-color: #ec9eff;
}

.personsCard img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}